allure-pytest==2.16.0
allure-python-commons==2.16.0
annotated-types==0.7.0
attrs==26.1.0
black==26.5.1
certifi==2026.5.20
charset-normalizer==3.4.7
click==8.4.1
colorama==0.4.6
execnet==2.1.2
idna==3.16
iniconfig==2.3.0
Jinja2==3.1.6
loguru==0.7.3
MarkupSafe==3.0.3
mypy_extensions==1.1.0
packaging==26.2
pathspec==1.1.1
platformdirs==4.9.6
pluggy==1.6.0
pydantic==2.13.4
pydantic_core==2.46.4
Pygments==2.20.0
pytest==9.0.3
pytest-html==4.2.0
pytest-metadata==3.1.1
pytest-xdist==3.8.0
python-dotenv==1.2.2
pytokens==0.4.1
requests==2.34.2
ruff==0.15.14
tenacity==9.1.4
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.7.0
win32_setctime==1.2.0

fastapi==0.136.3
uvicorn==0.48.0
